<ion-view title="{{title}}介绍">
	<ion-content class="zp-introduce">
		<article>
			<section style="text-align: center;">
				<img src="img/null.png" />
			</section>
			<section>
				<p style="text-indent: 0.6rem;">
					太平关乡，曾名太平乡，一九八二年地名普查时因省内有重名而更名，它是一座古老的江南小镇，位于江西九江市彭泽县西南部，东濒大湖水产养殖基地－芳湖，南 与囊括龙宫洞的群山毗连，西与鄱阳湖的外延接壤，北通长江中游红光码头，早就以其优越的地理环境、便利的水陆交通和兴盛的商业贸易而闻名遐迩。辖太平、谷塘、双港、石涧、横山、平畈、康庄、灌塘、望新、古楼、永乐、太岭、白沙等12个行政村。乡政府驻太平关，距县城29千米。定（山）龙（宫洞）公路纵贯过境。白沙中型水库位于境内，自南向西主干渠全长21.5千米
				</p>
			</section>
		</article>
	</ion-content>
</ion-view>