<ion-view title="魏金波 | 亲系图">
	<ion-content class="zp-stemma" style="margin-bottom: 50px;">
		<article>
		<section class="row">
				<div class="col-offset-16l col-33">
					<p>
						<span>魏兴唐</span>
						<img src="img/lz.gif" />
					</p>
				</div>
				<div class="col-33 col-offset-16r">
					<p>
						<span>暂无</span>
					</p>
				</div>
			</section>
			<section class="zp-line">
				<p>爷爷 奶奶</p>
				<p class="line"></p>
			</section>
		
			<section class="row">
				<div class="col-offset-16l col-33">
					<p>
						<span>魏华英</span>
					</p>
				</div>
				<div class="col-33 col-offset-16r">
					<p>
						<span>何四妹</span>
					</p>
				</div>
			</section>
			<section class="zp-line">
				<p>父 母</p>
				<p class="line"></p>
			</section>
			<section class="row own">
				<div class="col-33 left">
					<p>
						<span>暂无</span>
					</p>
				</div>
				<div class="col-33 select">
					<p>
						<span>魏金波</span>
					</p>
					<div class="line left-line">
						配 偶
					</div>
					<div class="line right-line">
						兄弟姐妹
					</div>
				</div>
				<div class="col-33 right">
					<div class="row">
						<div class="col-50">
							<p>
								<span>暂无</span>
							</p>
						</div>
						<div class="col-50">
							<p>
								<span>暂无</span>
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-50">
							<p>
								<span>暂无</span>
							</p>
						</div>
						<div class="col-50">
							<p>
								<span>暂无</span>
							</p>
						</div>
					</div>
				</div>
			</section>
				<section class="zp-line song">
				<p>儿 女</p>
				<p class="line"></p>
			</section>
			
			<section class="row">
				<div class="col-25">
					<p>
						<span>暂无</span>
					</p>
				</div>
				<div class="col-25">
					<p>
						<span>暂无</span>
					</p>
				</div>
				<div class="col-25">
					<p>
						<span>暂无</span>
					</p>
				</div>
				<div class="col-25">
					<p>
						<span>暂无</span>
					</p>
				</div>
			</section>
		</article>
	</ion-content>
	<div class="bar bar-footer no-padding" >
		<div class="row no-padding">
			<div class="col no-padding">
				<button class="button button-full button-positive sure" ui-sref="website">
                                   添加成员
        </button>
			</div>
		</div>
	</div>
</ion-view>