<ion-view title="{{title}}首页">
	<ion-content class="zp-home">
		<div class="bannel">
			<ion-slide-box>
				<ion-slide>
					<div class="box">
						<img src="img/adv5.jpg" width="100%" height="100%" />
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box ">
						<img src="img/adv5.jpg" width="100%" height="100%" />
					</div>
				</ion-slide>
			</ion-slide-box>
		</div>
		<div class="menu">
			<div class="row">
				<div class="col-25">
					<p class="menu_1">
						<a  ui-sref="introduce">家族文化</a>
					</p>
				</div>
				<div class="col-25">
					<p class="menu_2">
						<a class="" ui-sref="stemma">家谱亲系图</a>
					</p>
				</div>
				<div class="col-25">
					<p class="menu_3">
						<a class="" ui-sref="contacts">族谱联系人</a>
					</p>
				</div>
				<div class="col-25">
					<p class="menu_4">
						<a class="">电子墓园</a>
					</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>